{% extends "index.html" %}

{% block main %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Nommo Group LLC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        {% block content %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Home</a>
        </li>
        {% endblock %}
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/accounts/logout">Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"><i class="fa fa-user"></i> {{request.user.username|capfirst}}</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/accounts/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/signup">Sign up</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
<span style="color:white">
  <main role="main" class="container">
  <p class="h1">Checkout our investments</p>
  <div class="lead">
    <p><strong>{{ object.name }}</strong> (From Category {{ object.category.name }}):</p>
  </div>
  <li>Description: {{ object.description }}</li>
  <a href="/investments"><button type="button" class="btn btn-outline-primary">← Back</button></a>
  </main>
</span>
{% endblock %}
