{% extends "index.html" %}


{% block content %}
<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="/">Home</a>
</li>
{% endblock %}

{% block main %}
<span style="color:white">
  <main role="main" class="container">
  <p class="h1">These are our best investments!</p>
  <form action="" method="GET">
    <div class="row">
      <div class="col-4">
        <input type="text" name="q" class="form-control">
      </div>
      <div class="col-1">
        <input type="submit" class="btn btn-primary btn-xs" value="Search">
      </div>
      <div class="col-7">
        {% if request.user.is_authenticated %}
          <a href="/favorites" class="btn btn-outline-warning btn-xs float-right" style="color:white">→ Go to Favorites ({{request.session.favorite_investments|length}})</a>
        {% endif %}
      </div>
    </div>
  </form>
  <br>
  <table class="table table-bordered table-hover text-center lead">
    <thead>
      <tr>
        <th style="color:white">Project</th>
        <th style="color:white">Industry</th>
        <th style="color:white">Current Global Rank</th>
        <th style="color:white">Project Website</th>
          {% if request.user.is_staff %}
            <th style="color:white">Actions</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for inv in investments %}
        <tr>
          <td class="align-middle" style="color:white"> <a href='/investments/{{inv.id}}'>{{ inv.name }}</td>
          <td class="align-middle" style="color:white">{{ inv.category }}</td>
          <td class="align-middle" style="color:white">{{ inv.rank }}</td>
          <td class="align-middle" style="color:white"> <a href='/investments/{{inv.site}}'>{{ inv.site }}</td>
          {% if request.user.is_authenticated and request.user.is_staff %}
            <td class="align-middle">
              <div class="row justify-content-md-center">
                <a href="/edit_investment/{{inv.id}}" style="margin-right: 5px;"><button type="button" class="btn btn-primary btn-xs">Edit</button></a>
                {% csrf_token %}
                <form class="" action="/delete_investment/{{inv.id}}" method="post">
                  <input type="hidden" name='inv_id' value='{{inv.id}}'>
                  <input type="submit" value='Delete' class="btn btn-outline-danger btn-xs">
                </form>
              </div>
            </td>
          {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
  </main>
  </span>

  {% if request.user.is_authenticated and request.user.is_staff %}
    <main role="main" class="container">
    <a href="/create_investment/"><button type="button" class="btn btn-primary btn-xs">Create Investment</button></a>
    </main>
  {% endif %}
{% endblock %}
